page-promotion-detail {
    .itemimage {
        
        //position: relative;
        //width: 100vw !important;
        //left: calc(-50vw + 50%);
        padding: 0 !important;
        margin: 0 0 0 0 !important;
        //position: relative;
        width: 100vw !important;
        left: calc(-50vw + 50%);
        //position: fixed;
        top: 0;
        left: 0;
        //width: 100%;
        //height: 100%;

      }

    .promotiontitle{
        //display: inline-block;
        //padding-top: .3125rem;
        //padding-bottom: .3125rem;
        //margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
        font-weight: 700!important;
        color: #e6a756;
    }
}
