page-coupon-detail {
    .couponname{
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        padding: 10px;
    }

    .itemimage{
        width: 100vw;
        margin-left: 0px;
    }

}
